<div class="user-detail-tabs row-fluid">
  <div class="span12">
    <ul class="nav nav-pills">
      <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown" role="button">Graphs <b class="caret"></b></a>
        <!-- <a data-target="#tab-qpd-<%=id%>">Queries Per Day</a> -->
        <ul class="dropdown-menu" role="menu">
          <li role="presentation">
            <a href="#" tabindex="-1" role="menuitem" data-target="#tab-qpd-<%=id%>">Queries Per Day</a>
          </li>
          <li role="presentation">
            <a href="#" tabindex="-1" role="menuitem" data-target="#tab-uqt-<%=id%>">Performance</a>
          </li>
        </ul>
      </li>
      <li><a data-target="#tab-uqd-<%=id%>">Queries</a></li>
    </ul>
    <div class="tab-content">
      <div id="tab-qpd-<%=id%>" class="tab-pane active user-metrics-container qpd-view-container"></div>
      <div id="tab-uqt-<%=id%>" class="tab-pane user-metrics-container uqt-view-container"></div>
      <div id="tab-uqd-<%=id%>" class="tab-pane user-metrics-container query-detail-container"></div>
    </div>
  </div>
</div>