# This template is for configuring your DEV profile for the audit microservice.
# You should copy this file to audit-dev.yml before changing configuration.

server:
  port: 8743

# Don't use a Hazelcast client, but rather use an embedded Hazelcast member. This is
# only useful for development, and in production, this property should not be set (or
# should only be set to true)
hazelcast.client.enabled: ${hzClient:false}

# CONFIGURE ME
# audit:
#   replay:
#     enabled: true
#   health:
#     rabbit:
#       enabled: true
#       queues:
#         - name: 'audit.log'
#           durable: true
#           exclusive: false
#           autoDelete: false
#           arguments:
#             'x-dead-letter-exchange': 'DLX'
#             'x-dead-letter-routing-key': 'audit.log'
#         - name: 'audit.log.dlq'
#           durable: true
#           exclusive: false
#           autoDelete: false
#       exchanges:
#         - name: 'audit'
#           type: 'topic'
#           durable: true
#           autoDelete: false
#           internal: false
#           delayed: false
#         - name: 'DLX'
#           type: 'direct'
#           durable: true
#           autoDelete: false
#           internal: false
#           delayed: false
#       bindings:
#         - destination: 'audit.log'
#           destinationType: 'queue'
#           exchange: 'audit'
#           routingKey: '#'
#         - destination: 'audit.log.dlq'
#           destinationType: 'queue'
#           exchange: 'DLX'
#           routingKey: 'audit.log'
#       cluster:
#         expectedNodes: 3
#         failIfNodeMissing: true
#         numChecksBeforeFailure: 3
#       management:
#         scheme: 'http'
#         port: 15672
#         uri: '/api/'

logging:
  level:
    datawave.microservice.audit: DEBUG
