###########################################
# Ignores All File or Path Related to Git #
###########################################

.git

#####################################
# Ignores All Development Resources #
#####################################

development/
setup.sh

########################
# Ignores All Archives #
########################

*.tar.gz
*.tgz
