
# In order to ensure the query microservices are consistent with the wildfly webservice, we need
# to ensure that changes made to QueryExecutorBean match QueryManagementService, and changes made
# to LookupUUIDUtil match LookupService in the Query Service.
QueryExecutorBean.java @jwomeara
LookupUUIDUtil.java @jwomeara
