**/bin
# Don't ignore the scripts bin dirs
!**/datawave-quickstart/bin/
!**/ingest-scripts/src/**/bin/
!**/application/src/main/wildfly/overlay/bin
!**/web-services/deploy/application/src/main/wildfly/overlay/bin
!**/web-services/examples/http-client/bin
**/*.env
**/*.iml
**/*.orig
**/*.prefs
**/.classpath
**/.idea
**/.project
**/.settings
**/lib
**/.idea?
*.iml
**/*.prefs
*.o
*.orig
*~
.*.swp
.classpath
.idea
.project
.settings
atlassian-ide-plugin.xml
phantomjsdriver.log
!**/web-services/deploy/application/src/main/wildfly/overlay/modules/org/apache/hadoop/common/main/lib
nb-configuration.xml
nbactions.xml
nbproject/
**/properties/git.properties
**/properties/*-passwords.properties
assemble/datawave/src/main/assembly/*-passwords.properties
ingest/DataWaveIngestProcessor/.classpath
**/src/test/resources/.cache
tags
target
target/
**/target/
**/logs/

**/.factorypath
.vscode

.DS_Store
web-services/geoserver/geoserver-application/overlays/

services/sample_configuration/*-dev.yml
/.metadata/
/.dockerignore
/.maven-dockerignore
