<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="info"/>
  <property name="basedir" value="${basedir}"/>
  <module name="TreeWalker">
    <!--check that only Accumulo 2.1.x public APIs are imported-->
    <module name="ImportControl">
        <!--Allows per-package enforcement for importing Accumulo 2.1.x public APIs -->
        <property name="file" value="${basedir}/import-control-accumulo.xml"/>
        <property name="severity" value="warning"/>
    </module>
    <module name="UnusedImports">
        <property name="severity" value="error"/>
    </module>
  </module>
</module>
