<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.3//EN" "http://www.puppycrawl.com/dtds/configuration_1_3.dtd">
<module name="Checker">
  <property name="charset" value="UTF-8"/>
  <property name="severity" value="info"/>
  <property name="basedir" value="${basedir}"/>
  <module name="TreeWalker">
    <!--check that only Accumulo 2.1.x public APIs are imported-->
    <module name="ImportControl">
        <!--Allows per-package enforcement for importing Accumulo 2.1.x public APIs -->
        <property name="file" value="${basedir}/import-control-accumulo.xml"/>
        <property name="severity" value="warning"/>
    </module>
    <!-- Check that forbidden classes are not imported anywhere. -->
    <module name="IllegalImport">
        <property name="regexp" value="true"/>
        <property name="illegalClasses"
                  value="^org\.apache\.accumulo\.core\.util\.Pair"/>
        <property name="severity" value="error"/>
    </module>
    <!-- Do not allow any unused imports. -->
    <module name="UnusedImports">
        <property name="severity" value="error"/>
    </module>
    <module name="MissingJavadocType">
        <property name="scope" value="protected"/>
        <property name="tokens"
                  value="CLASS_DEF, INTERFACE_DEF, ENUM_DEF,
                    RECORD_DEF, ANNOTATION_DEF"/>
        <property name="excludeScope" value="nothing"/>
        <property name="severity" value="warning"/>
    </module>
    <module name="JavadocMethod">
      <property name="accessModifiers" value="public"/>
      <property name="allowMissingParamTags" value="true"/>
      <property name="allowMissingReturnTag" value="true"/>
      <property name="allowedAnnotations" value="Override, Test"/>
      <property name="tokens" value="METHOD_DEF, CTOR_DEF, ANNOTATION_FIELD_DEF, COMPACT_CTOR_DEF"/>
      <property name="severity" value="error"/>
    </module>
    <module name="MissingJavadocMethod">
      <property name="scope" value="protected"/>
      <property name="allowMissingPropertyJavadoc" value="true"/>
      <property name="allowedAnnotations" value="Override, Test"/>
      <property name="tokens" value="METHOD_DEF, CTOR_DEF, ANNOTATION_FIELD_DEF,
                                   COMPACT_CTOR_DEF"/>
      <property name="severity" value="error"/>
    </module>
  </module>
</module>
