<div class="span12">
  <div class="well margin-bottom-0">
    <div id="metrics-summary-tabs-<%=id%>" class="row-fluid">
      <div class="span2">
        <ul id="summary-tabs-<%=id%>" class="nav nav-tabs nav-stacked">
          <li class="active"><a data-target="#time-summary-tab-<%=id%>">Performance</a></li>
          <li><a data-target="#query-summary-tab-<%=id%>">Queries</a></li>
          <li><a data-target="#page-summary-tab-<%=id%>">Pages</a></li>
        </ul>
      </div>
      <div class="tab-content span10">
        <div id="time-summary-tab-<%=id%>" class="tab-pane active"></div>
        <div id="query-summary-tab-<%=id%>" class="tab-pane"></div>
        <div id="page-summary-tab-<%=id%>" class="tab-pane"></div>
      </div>
    </div>
  </div>
</div>