**/scripts/query_*
**/scripts/edge_*
**/scripts/plan_*
**/scripts/prediction_*
**/scripts/lookup_*
**/scripts/batchLookup_*
**/scripts/lookupContent_*
**/scripts/batchLookupContent_*
**/scripts/streamingQuery_*
**/scripts/discovery_*
