{% assign href1 = "/docs/version/getting-started/data-model#edge-table" | replace: 'version', site.latest_minor_release %}
{% assign href2 = "/docs/version/getting-started/data-model#data-dictionary-table" | replace: 'version', site.latest_minor_release %}
<div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b>
    If the <a href="{{ href1 }}">DataWave Edge Table</a> contains graph edges, then a dictionary of known/registered
    edge types will be maintained in DataWave's <a href="{{ href2 }}">data dictionary</a>
</div>