<footer>
            <div class="row">
                <div class="col-lg-12 footer">
                    A <a target="_blank" href="{{site.organization_url}}"> {{site.organization_name}}</a> Open Source Project <br />
{% if page.last_updated %}<span>Page last updated:</span> {{page.last_updated}}<br/>{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y"  }}
                    <p><img width="115" src="{{site.baseurl}}/images/datawave-logo.png" alt="DataWave Logo"/></p>
                </div>
            </div>
</footer>
