<table>
  <caption>Load Dates Table Layout</caption>
  <thead><tr><th>Row</th><th>Column&nbsp;Family</th><th>Column&nbsp;Qualifier</th><th>Value</th><th>Purpose</th></tr></thead>
  <tbody>

  {% assign tables = site.data.datawave['data-model'].tables | where:"id","LDT" %}

  {% for entry in tables[0].entries %}
  <tr>
      {% for i in (1..4) %}
          {% assign skip_tooltip = false %}
          {% if i == 1 %}
              {% assign td_raw = entry.row %}
          {% elsif i == 2 %}
              {% assign td_raw = entry.cf %}
          {% elsif i == 3 %}
              {% assign td_raw = entry.cq %}
          {% elsif i == 4 %}
              {% assign td_raw = entry.val %}
              {% assign skip_tooltip = true %}
          {% endif %}
      <td>
          {% if skip_tooltip == true %}
          <em>{{ td_raw }}</em>
          {% else %}
              {% assign terms = td_raw | split: '+' %}
              {% include set_table_entry_tooltips.html entry_terms=terms %}
          {% endif %}
      </td>
      {% endfor %}
      <td>
      {{ entry.purpose }}
      </td>
  </tr>
  {% endfor %}

  </tbody>
  {% include table_tfoot.html %}
</table>