<table>
  <caption>Query Metrics Schema</caption>
  <caption><b>Note</b>: The Data Type (DT) portion of all respective keys is denoted by the literal <b>querymetrics</b></caption>
  <caption><b>Note</b>: The <b>YYYYMMDD</b> shard date for a query metrics object identifies the creation date of the query</caption>
  <thead><tr><th>NFN</th><th>FV</th></tr></thead>
  <tbody>
  {% assign tables = site.data.datawave['data-model'].tables | where:"id","QMT" %}
  {% for entry in tables[0].entries %}
  <tr>
      <td style="white-space: nowrap;">{{ entry.nfn }}</td><td>{{ entry.fv }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>