<nav id="top-navbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container topnavlinks">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="fa fa-lg navbar-brand" href="{{ site.baseurl }}/"><img id="nav-logo" alt="DataWave" class="img-responsive" src="{{ site.baseurl }}/images/datawave-logo.png" width="190"></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse-1">

            <ul class="nav navbar-nav navbar-right">

                <li id="sidebar-toggle"><a id="tg-sb-link" href="#"><i id="tg-sb-icon" class="fa fa-toggle-on fa-lg"></i> Navigation</a></li>

                <!-- entries without drop-downs appear here -->

                <li><a href="{{ site.baseurl }}/"><i class="fa fa-home fa-lg"></i></a></li>

                {% assign topnav = site.data[page.topnav] %}
                {% assign topnav_dropdowns = site.data[page.topnav].topnav_dropdowns %}

                {% for entry in topnav.topnav %}

                    {% for item in entry.items %}
                        {% if item.external_url %}
                            <li><a href="{{item.external_url}}" target="_blank">{{item.title}}</a></li>
                        {% elsif page.url contains item.url %}
                            <li class="active"><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a></li>
                        {% else %}
                            <li><a href="{{ site.baseurl }}{{item.url}}">{{item.title}}</a></li>
                        {% endif %}
                    {% endfor %}

                {% endfor %}

                <!-- entries with drop-downs appear here -->

                {% for entry in topnav_dropdowns %}

                    {% for folder in entry.folders %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ folder.title }}<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                            {% for folderitem in folder.folderitems %}
                                {% if folderitem.external_url %}
                                    <li><a href="{{folderitem.external_url}}" target="_blank">{{folderitem.title}}</a></li>
                                {% elsif page.url contains folderitem.url %}
                                    <li class="dropdownActive"><a href="{{ site.baseurl }}{{ folderitem.url }}">{{folderitem.title}}</a></li>
                                {% else %}
                                    <li><a href="{{ site.baseurl }}{{ folderitem.url }}">{{folderitem.title}}</a></li>
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}

                {% endfor %}

                {% if site.feedback_disable == null or site.feedback_disable == false %}
                    {% include feedback.html %}
		        {% endif %}
            </ul>

            <script>
               {% if page.sidebar %}
                  $("#sidebar-toggle").css("visibility","visible");
               {% else %}
                  $("#sidebar-toggle").css("visibility","hidden");
               {% endif %}
           </script>
        </div>
    </div>
</nav>
