<div markdown="span" class="alert alert-info" role="alert"><i class="fa fa-info-circle"></i> <b>Note:</b>
    The dataset used for this example is from [tvmaze.com/api](http://tvmaze.com/api). For demonstration purposes,
    the data file [here](https://github.com/NationalSecurityAgency/datawave/blob/master/warehouse/ingest-json/src/test/resources/input/tvmaze-api.json)
    was ingested during the quickstart install via the quickstart's [datawaveIngestJson](../getting-started/quickstart-reference#datawave-ingest-functions)
    function. The raw file was created by issuing queries such as
    [http://api.tvmaze.com/singlesearch/shows?q=seinfeld&amp;embed=cast](http://api.tvmaze.com/singlesearch/shows?q=seinfeld&amp;embed=cast)
    for a variety of TV shows and concatenating the returned JSON objects into a single file
</div>