<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="
            http://xmlns.jcp.org/xml/ns/javaee
            http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Docs</web-resource-name>
            <description>Allow unauthenticated users to view documentation.</description>
            <url-pattern>/doc/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
        <!--
         Define the transport guarantee for this webapp. Note that this value is not substituted at compile
         time, but instead will be substituted at runtime by the container.
        -->
        <user-data-constraint>
            <transport-guarantee>${dw.transport.guarantee}</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
