<div class="modal-header">
  <button class="close" data-dismiss="modal" aria-hidden="true">x</button>
  <h3 id="query-modal-label">Query Details</h3>
</div>
<div class="modal-body">
  <table class="table table-condensed table-bordered">
    <tr>
      <td><strong>Query ID</strong></td>
      <td><%=query[2]%></td>
    </tr>
    <tr>
      <td><strong>Query Name</strong></td>
      <td><%=query[4]%></td>
    </tr>
    <tr>
      <td><strong>Created Date</strong></td>
      <td><%=query[1]%></td>
    </tr>
    <tr>
      <td><strong>Authorizations</strong></td>
      <td><%=query[5]%></td>
    </tr>
    <tr>
      <td><strong>Query Logic</strong></td>
      <td><%=query[6]%></td>
    </tr>
    <tr>
      <td><strong>Query</strong></td>
      <td><%=query[7]%></td>
    </tr>
  </table>
</div>
<div class="modal-footer"></div>
