
body {
  background-color: #999999;
  overflow: hidden;
}

#main {
  margin: 0 auto -60px;
  width: 1920px;
  height: 1080px;
}

#content-container {
  padding: 0px 10px;
}

#datePicker {
  display: inline-block;
}

#dashboard {
  /* text-align: center; */
  display: inline-block;
}

.datepicker {
  margin-top: 10px;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.user-list-inner {
  height: 450px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.user-list-inner ul.nav.nav-pills.nav-stacked > li {
  overflow: hidden;
}

/***
.span12 {
  width: 1170px;
}

[class*="span"] {
  float: left;
  margin-left: 30px;
  min-height: 1px;
}
***/

.container {
  margin-left: auto;
  margin-right: auto;
}

.user-view-list-container {
}

.user-view-detail-container {
  /* width: 100%; */
  height: 100%;
}

.user-list-container {
}

.metrics-tab {
  height: 100%;
  padding: 1em 0 !important;
}

.user-detail-container {
  height: 100%;
}

.user-metrics-container {
}

.user-list {
    border: 1px solid #9DB029;
    margin: 1em 0;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 425px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.loading-user-list {
    background: url('/imgs/loading_bg.jpg') no-repeat center;
    border: 1px solid #9DB029;
    margin: 1em 0;
    padding: 1em;
    overflow-x: hidden;
    overflow-y: auto;
    height: 425px;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.user-list-input {
  width: auto;
}

.user-detail-tabs {
  height: 100%;
}

.metrics-container {
  min-height: 445px;
}

.metrics-container {
  min-height: 445px;
}

.user-query-detail-table {
  text-align: left;
  width: 100%;
}

.user-query-detail-table th, td {
  /* width: 20px; */
  overflow: hidden;
  white-space:nowrap;
}

td.user-query-detail-table-row-toggle {
  width: 16px;
}

.query-user-summary-table th, td {
  /* width: 20px; */
  overflow: hidden;
  white-space:nowrap;
}

.query-metrics-summary-container .metrics-container {
  /* width: 438px; */
  /* float: left; */
  padding: 5px;
}