hadoop
**/scripts/query_*
**/scripts/errorQuery_*
**/scripts/edge_*
**/scripts/plan_*
**/scripts/prediction_*
**/scripts/lookup_*
**/scripts/batchLookup_*
**/scripts/lookupContent_*
**/scripts/batchLookupContent_*
**/scripts/streamingQuery_*
**/scripts/discovery_*
**/scripts/errorDiscovery_*
**/scripts/count_*
**/scripts/errorCount_*
**/scripts/fieldIndexCount_*
**/scripts/errorFieldIndexCount_*
**/scripts/poundit_*
**/scripts/executor_*
**/scripts/termFrequency_*
**/scripts/hitHighlights_*
**/scripts/edgeEvent_*
**/scripts/metrics_*
**/scripts/shutdown_*
**/scripts/health_*
**/scripts/modification_*
**/scripts/mapReduceQuery_*
**/scripts/oozieQuery_*
**/scripts/cachedResultsQuery_*
