server:
  port: 8888

management:
  context-path: '/mgmt'
  security:
    enabled: false

logging:
  level:
    org.springframework.cloud: 'TRACE'

spring:
  application:
    name: configserver
  cloud:
    # Disable discovery by default. We'll turn it back on in the consul profile if that profile is enabled.
    discovery:
      enabled: false
    consul:
      enabled: false
    config:
      server:
        git:
          uri: '${CONFIG_GIT_URL}'
          # Longer timeout since connections might be a bit slow during docker VM startup
          timeout: 10
  rabbitmq:
    host: '${MESSAGING_SERVER_HOSTNAME:messaging}'

# Define encryption information so that we can encrypt/decrypt passwords.
# KEYSTORE_LOCATION should be defined in the environment (or on the command-line with --encrypt.key-store.location=location)
#                   as the path to the keystore to use for encryptine/decrypting keys
# KEYSTORE_PASSWORD should be defined in the environment (or on the command-line with --encrypt.key-store.password=password)
#                   as the password used to access keystore (note that this defaults to an insecure password)
# KEY_ALIAS should be defined in the environment (or on the command-line with --encrypt.key-store.alias=alias),
#           if not certificate, as the alias within the keystore of the key to use for encryption. Use keytool -l to list the aliases of the keys in a keystore.
encrypt:
  failOnError: true
  key-store:
    location: '${KEYSTORE_LOCATION}'
    password: '${KEYSTORE_PASSWORD}'
    alias: '${KEY_ALIAS}'

---

spring:
  profiles: 'dev'
  cloud:
    config:
      server:
        git:
          # Override this on the command-line by passing --spring.cloud.config.server.git.uri=file:///path/to/config/repo
          # If you change it to an SSH git URL, then you may need to add --spring.cloud.config.server.git.password=<your_private_key_password> if your private key is encrypted
          uri: 'file:///tmp/microservice-config'
    bus:
      enabled: false
  rabbitmq:
    host: '${MESSAGING_SERVER_HOSTNAME:localhost}'

encrypt:
  failOnError: true
  key-store:
    location: 'classpath:/testKeystore.jks'
    password: 'ChangeIt'
    alias: 'configKey'
    secret: 'LetMeIn'

---

spring:
  profiles: 'consul'
  cloud:
    discovery:
      enabled: true
    consul:
      enabled: true
      discovery:
        healthCheckPath: ${management.context-path}/health
        healthCheckInterval: 15s
      # Allow a long time for the Consul agent to become available.
      retry:
        max-attempts: 120
  rabbitmq:
    discovery:
      enabled: true
      failFast: true
