target
.classpath
.project
.settings
.idea
*.iml
**/lib
tags
**/tags
*.orig
**/*.orig
**/.externalToolBuilders/
**/maven-eclipse.xml
atlassian-ide-plugin.xml
**/bin
!**/examples/http-client/bin/
properties/git.properties
