<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="org.apache.hadoop.common">
    <resources>
        <resource-root path="hadoop-auth-${version.hadoop}.jar"/>
        <resource-root path="hadoop-client-api-${version.hadoop}.jar"/>
        <resource-root path="hadoop-client-runtime-${version.hadoop}.jar"/>
        <resource-root path="hadoop-shaded-guava-${version.hadoop-shaded}.jar"/>
        <resource-root path="hadoop-shaded-protobuf_3_7-${version.hadoop-shaded}.jar"/>
        <resource-root path="protobuf-java-${version.protobuf}.jar"/>
        <resource-root path="commons-beanutils-${version.commons-beanutils}.jar"/>
        <resource-root path="commons-configuration2-${version.commons-configuration2}.jar"/>
        <resource-root path="commons-text-${version.commons-text}.jar"/>
        <resource-root path="woodstox-core-${version.woodstox-core}.jar"/>
        <resource-root path="stax2-api-${version.woodstox-stax2}.jar"/>
        <resource-root path="servlet-api-2.5.jar"/>
        <resource-root path="hadoop-conf"/>
    </resources>
    <dependencies>
        <module name="javax.api"/>
        <module name="org.apache.commons.collections"/>
        <module name="org.apache.commons.lang"/>
        <module name="org.apache.commons.lang3"/>
        <module name="org.apache.commons.logging"/>
        <module name="com.google.guava"/>
        <module name="org.slf4j"/>
        <system export="true">
            <paths>
                <path name="org/w3c/dom" />
                <path name="org/xml/sax" />
                <path name="com/sun/security/auth/module" />
            </paths>
        </system>
    </dependencies>
</module>
