<div class="well">
  <div id="metrics-tabs-container-<%=id%>" class="row-fluid">
    <div class="span12">
      <ul id="metrics-tabs-<%=id%>" class="nav nav-tabs">
        <li class="active"><a data-target="#query-metrics-summary-tab-<%=id%>">Query Metrics Summary</a></li>
        <li><a data-target="#user-query-metrics-tab-<%=id%>">User Query Metrics</a></li>    
      </ul>
      <div class="tab-content">
        <div id="query-metrics-summary-tab-<%=id%>" class="tab-pane active"></div>
        <div id="user-query-metrics-tab-<%=id%>" class="tab-pane"></div>
      </div>
    </div>
  </div>
</div>