server:
  port: 8943

# If you only want to test the "lookup" service with some non-datawave-specific canned data, then simply
# enable the "mock" profile, since that will automatically spin up an in-memory accumulo instance with
# a tiny amount of test data. See accumulo-service's bootstrap.yml for mock-specific defaults

# If you have your own accumulo instance that you want to test with, edit this accumulo connection info.
# If you want to test with DW quickstart's Accumulo instance, simply uncomment

#warehouse-cluster:
#  accumulo:
#    zookeepers: 'localhost:2181'
#    instanceName: 'my-instance-01'
#    username: 'root'
#    password: 'secret'

# Example lookup and lookup-audit config for use with DW quickstart, if desired

#accumulo:
#  lookup:
#    numQueryThreads: 5
#    audit:
#      defaultColumnVisibility: 'PRIVATE'
#      defaultAuditType: 'ACTIVE'
#      tableConfig:
#        - tableRegex: 'datawave\.shard'
#          rowRegex: '2011.*'
#          colFamRegex: '.*'
#          colQualRegex: '.*'
#          auditType: 'NONE'
#
#        - tableRegex: 'datawave\.shard'
#          rowRegex: '2013.*'
#          colFamRegex: '.*'
#          colQualRegex: '.*'
#          auditType: 'PASSIVE'

# Enable auditing for lookup queries only, if desired

#audit-client:
#  enabled: true
#  uri: '${AUDIT_SERVER_URL:https://localhost:8743/audit}'

logging:
  level:
    datawave.microservice.accumulo: DEBUG

---

# If the 'remoteauth' profile is activated, then you can authenticate with a client
# cert directly against this service, assuming you have the auth service running

spring:
  profiles: 'remoteauth'

datawave:
  authorization:
    uri: "https://localhost:8643/authorization/v1/authorize"
