# This template is for configuring your DEV profile for the authorization microservice.
# You should copy this file to authorization-dev.yml before changing configuration.

server:
  port: 8643

# Don't use a Hazelcast client, but rather use an embedded Hazelcast member. This is
# only useful for development, and in production, this property shouldnot be set (or
# should only be set to true)
hazelcast.client.enabled: ${hzClient:false}