# This template is for configuring your DEV profile for the dictionary microservice.
# You should copy this file to dictionary-dev.yml before changing configuration.

server:
  port: 8843

datawave:
  metadata:
    all-metadata-auths:
      - PRIVATE,PUBLIC
    type-substitutions:
      "[datawave.data.type.DateType]": "datawave.data.type.RawDateType"
  dictionary:
    accumulo-properties:
      zookeepers: "localhost:2181"
      instance-name: SETME
      username: "root"
      password: SETME
    edge:
      metadata-table-name: ${metadata.table.name:datawave.metadata}
      num-threads: 8
    data:
      model-name: DATAWAVE
      model-table-name: ${metadata.table.name:datawave.metadata}
      metadata-table-name: ${metadata.table.name:datawave.metadata}
      num-threads: 8
      normalizer-map:
        "[datawave.data.type.GeoLatType]": "Latitude"
        "[datawave.data.type.GeoLonType]": "Longitude"
        "[datawave.data.type.GeoType]": "Combined latitude, longitude"
        "[datawave.data.type.IpAddressType]": "IP address"
        "[datawave.data.type.MacAddressType]": "MAC address"
        "[datawave.data.type.LcNoDiacriticsType]": "Text"
        "[datawave.data.type.LcType]": "Text"
        "[datawave.data.type.NoOpType]": "Unnormalized Text"
        "[datawave.data.type.NumberType]": "Number"
        "[datawave.data.type.TrimLeadingZerosType]": "Text"
