<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="urn:jboss:module:1.3" name="datawave.commons.datawave-commons-security">
    <resources>
        <resource-root path="datawave-commons-security-${project.version}.jar"/>
    </resources>

    <dependencies>
        <module name="io.jsonwebtoken.jjwt-api"/>
        <module name="io.jsonwebtoken.jjwt-impl" services="import"/>
        <module name="org.slf4j"/>
        <module name="com.google.guava"/>
        <module name="javax.xml.bind.api"/>
        <module name="com.fasterxml.jackson.core.jackson-core"/>
        <module name="com.fasterxml.jackson.core.jackson-databind"/>
        <module name="com.fasterxml.jackson.core.jackson-annotations"/>
        <module name="javax.annotation.api"/>
    </dependencies>
</module>
