# Ignore everything...
*

# But do not ignore these...
!.gitignore
!Dockerfile
!README.md
!bin
!bin/common.sh
!bin/query.sh
!bin/logging.sh
!bin/env.sh
!bin/services
!bin/services/*
!bin/services/**/bootstrap*.sh
!bin/services/**/install*.sh
!bin/services/datawave/ingest-examples
!bin/services/datawave/ingest-examples/*.sh
!bin/services/datawave/ingest-examples/*.py
!bin/services/datawave/test-web
!bin/services/datawave/test-web/run.sh
!bin/services/datawave/test-web/tests
!bin/services/datawave/test-web/responses
!bin/services/datawave/test-web/responses/*
!bin/services/datawave/test-web/responses/**/*.expected

!.dockerignore
!docker
!docker/**

docker/target/**
