# Ignore everything...
*

# But do not ignore these...
!.gitignore
!Dockerfile
!README.md
!bin
!bin/common.sh
!bin/logging.sh
!bin/env.sh
!bin/services
!bin/services/*
!bin/services/**/bootstrap*.sh
!bin/services/**/install*.sh
!bin/services/datawave/test-web
!/bin/services/datawave/test-web/tests
!/bin/services/datawave/test-web/responses
!bin/services/datawave/**/tests/*.test
!bin/services/datawave/**/responses/*.expected
!bin/services/datawave/test*/run.sh
!bin/services/datawave/test*/common.sh


!.dockerignore
!docker
!docker/**

