/* style for the info box on the query geometry map */
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 33vw;
    word-wrap: break-word;
}

.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.leaflet-control-layers-base {
    text-align: left;
}

h1 {
    display: inline;
}