target
.classpath
.project
.settings
.idea
*.iml
Configuration/src/main/jboss/server/datawave/conf/certificates/localhost.*
mike-txt
**/lib
tags
**/tags
*.orig
**/*.orig
**/.externalToolBuilders/
**/maven-eclipse.xml
atlassian-ide-plugin.xml
**/bin
!Configuration/src/main/jboss/bin
properties/git.properties
