<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 https://maven.apache.org/xsd/settings-1.0.0.xsd">

   <interactiveMode/>

   <offline/>

   <pluginGroups/>

   <mirrors/>

   <proxies/>

   <servers>
      <server>
         <id>github-datawave</id>
         <username>${env.USER_NAME}</username>
         <password>${env.ACCESS_TOKEN}</password>
      </server>
   </servers>
</settings>
